* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #333;
}

.app {
  display: flex;
  padding:10px;
  .week {
    margin-right: 20px;
    flex-grow: 1
  }
  .tasks-list {
    flex: none;
    min-width: 150px;
  }
}

.task {
  padding: 5px;
  border: 1px solid #333;
  background-color: #EEE;
}

.day {
  &-time {
    min-height: 50px;
    &:hover {
      background-color: aliceblue;
    }
  }
}

.week {
  display: flex;
  .day {
    flex-grow: 1;
    &:not(last-child) {
      margin-right: 10px;
    }
  }
}

button{
  background-color: aquamarine;
}
.buttons{text-align: center}

.baaaaaaaaaaad{
  background-color: #333333;
  cursor: no-drop;
}
