<template>
    <div class="day" :class="nope()">
        {{mainDay.format('YYYY-MM-DD')}}
        <pre v-for="t in dayTasks" :key="t.id">
            {{t}}
        </pre>
        <hr>
        <div v-for="h in hours"
             class="day-time"
             :key="h.date.format('HH:mm')"
             @dragover="(e)=>{e.preventDefault()}"
             @drop="handleDrop(h.date, $event)">
            {{h.date.format('HH:mm')}}
        </div>
    </div>
</template>

<script>
import moment from 'moment'
import data from '../fake-tasks'

const startHour = 8
const endHour = 19

export default {
  name: 'Day',
  props: {
    mainDay: {required: false, type: Object, default: () => moment()},
    tasks: {required: false, type: Array, default: () => ([])},
  },
  data () {
    return {
      hours: [],
      projects: data.projects,
    }
  },
  computed: {
    dayTasks () {
      const startDay = this.mainDay.clone().startOf('day')
      const endDay = this.mainDay.clone().endOf('day')
      const tasks = this.$props.tasks.filter((t) => {
        return t.startDate && t.startDate.isAfter(startDay) && t.startDate.isBefore(endDay)
      })

      tasks.map((t) => {
        t.project = this.projects.find((p) => p.id === t.project_id)
      })

      return tasks
    },
  },
  methods: {
    handleDrop (date, e) {
      // console.log('Caught in DayComponent', JSON.stringify(date))
      if (this.isDroppable()) {
        const task = parseInt(e.dataTransfer.getData('task'), 10)
        this.$emit('taskDropped', {taskId: task, date})
      }
    },
    isDroppable () {
      const day = this.mainDay.day()
      return day !== 0 && day !== 6
    },
    nope () {
      return this.isDroppable() ? '' : 'baaaaaaaaaaad'
    },
  },
  created () {
    for (let i = startHour; i < endHour + 1; i++) {
      this.hours.push({
        date: this.mainDay.clone().hours(i).minutes(0),
        tasks: [],
      })
      this.hours.push({
        hour: i,
        date: this.mainDay.clone().hours(i).minutes(30),
        tasks: [],
      })
    }
  },
}
</script>
