<template>
    <div>
        <div class="buttons">
            <button @click="changeDay('Today')">Auj!</button>
            <button @click="changeDay('Prev')">&lt;</button>
            <button @click="changeDay('Next')">&gt;</button>
        </div>
        <div class="app">
            <week-component :mainDate="mainDate" @taskDropped="taskDropped" :tasks="tasks"/>
            <div class="tasks-list">
                <div class="task"
                     v-for="t in tasks"
                     :key="t.id"
                     v-show="!t.startDate"
                     draggable="true"
                     @dragstart="startDrag(t, $event)"
                >{{t.label}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import WeekComponent from './components/WeekComponent'
import data from './fake-tasks'
import moment from 'moment'

export default {
  name: 'app',
  components: {
    WeekComponent,
  },
  data () {
    return {
      tasks: data.tasks,
      mainDate: moment().startOf('day'),
    }
  },
  methods: {
    startDrag (task, e) {
      e.dataTransfer.setData('task', task.id)
    },
    taskDropped ({taskId, date}) {
      // console.log('Caught in App.vue:', taskId, date.format())
      for (let i = 0; i < this.tasks.length; i++) {
        if (this.tasks[i].id === taskId) {
          this.tasks[i].startDate = date
          // console.log(this.tasks[i].label)
          break
        }
      }
    },
    changeDay (value) {
      const md = this.mainDate.clone()
      switch (value) {
        case 'Prev': {
          this.mainDate = md.subtract(1, 'day')
          break
        }
        case 'Next': {
          this.mainDate = md.add(1, 'day')
          break
        }
        default: {
          this.mainDate = moment()
          break
        }
      }
    },
  },
}
</script>

<style lang="scss">
    @import "stylesheets/style";
</style>
